<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Link to your custom CSS file -->
    <title>Book Notes</title>
</head>

<body>
<header>
    <div class="hero">
        <!-- Header title -->
        <h1>Ruth's Lessons from Books</h1>
        <!-- Home link -->
        <a href="/">
            <p>Home</p>
        </a>
    </div>

</header>

<div>
    <!-- Form for book search -->
    <form class="book-search" action="/search" method="get">
        <input type="text" name="search" id="searchInput" autocomplete="off" placeholder="Enter book name, author or isbn">

        <!-- Dropdown for search suggestions -->
        <div class="dropdown">
            <ul id="dropdownList"></ul>
        </div>
    </form>
</div>
